body {
  margin-top: 2.5rem;
}
.categories {
  margin: 2.5rem;
}
section div {
  margin: auto;
}
.card {
  margin: 2.5rem;
}
.thumb-link {
  align-items: center;
  justify-content: center;
}
.thumb-link:hover {
  background: linear(transparent 5%, rgba(254, 209, 54, 0.9) 100%);
  transition: opacity ease-in-out 0.25s;
}
