body {
  margin-top: 2.5rem;
  opacity: 2;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.categories {
  margin: 0.25rem;
}
section {
  margin: auto;
}
.card-body {
  height: 5rem;
}
.card {
  margin: 0.5rem;
  border-radius: 0.25rem;
  width: 25rem;
  height: 5rem;
}
.col-4 img {
  height: 5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
.card-title1 {
  border: solid 1px #457b9d;
  border-radius: 1rem;
  color: #457b9d;
  background-color: white;
  padding: 0.5rem;
  margin: 0 auto 0 auto;
}
.card-title1 i {
  float: right;
}
.card-title1:hover {
  border: solid 1px #457b9d;
  border-radius: 0.75rem;
  color: #f1faee;
  text-decoration: none;
  background-color: #457b9d;
  padding: 0.5rem;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
}

.sideBar ul {
  list-style-type: none;
}
.container {
  display: flex;
  position: relative;
}
.container .sideBar {
  display: fixed;
  background: rgb(252, 250, 250);
}
.container .sideBar ul {
  padding: 0;
}
.container .sideBar ul li {
  padding: 5px;
  border-top: 1px white solid;
  border-bottom: 1px rgb(238, 238, 238) solid;
}
.container .sideBar ul li a {
  display: block;
  width: 200px;
  color: #1d3557;
  font-size: 14px;
  padding: 10px;
}
.container .sideBar ul li a:hover {
  transition: 0.3sec ease;
  color: white;
  background-color: #1d3557;
}
.container .row {
  margin: 0;
  width: 120%;
}
.container .card {
  position: relative;
  display: flex;
  max-width: 18rem;
  height: 22rem;
  box-shadow: 2px 2px 1px #607a8a27;
}
/* .container .card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
} */
.container .wrapper {
  width: 100%;
}
.container .card .card-body {
  height: fit-content;
  padding-top: 0.25rem;
}
.container .card .card-body .card-title {
  text-emphasis: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0;
}
.container .card .card-body .card-text {
  padding: 0;
  margin: 0;
  color: #457b9d;
}
.wrapper .category {
  padding-top: 2rem;
}
.container .card .card-body .description {
  color: #1d3557;
}
.price {
  display: inline-block;
  background-color: #f1faee;
}
.prices {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding-bottom: 0;
}
.number {
  color: #e63946;
  background-color: #f1faee;
}
