body {
  margin-top: 2.5rem;
  opacity: 2;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.categories {
  margin: 0.25rem;
}
section {
  margin: auto;
}
.card-body {
  height: 5rem;
}
.card {
  margin: 0.5rem;
  border-radius: 0.25rem;
  width: 25rem;
  height: 5rem;
}
.col-4 img {
  height: 5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
.card-title1 {
  border: solid 1px #457b9d;
  border-radius: 1rem;
  color: #457b9d;
  background-color: white;
  padding: 0.5rem;
  margin: 0 auto 0 auto;
}
.card-title1 i {
  float: right;
}
.card-title1:hover {
  border: solid 1px #457b9d;
  border-radius: 0.75rem;
  color: #f1faee;
  text-decoration: none;
  background-color: #457b9d;
  padding: 0.5rem;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
}

.sideBar ul {
  list-style-type: none;
}
.container {
  display: flex;
  position: relative;
}
.container .sideBar {
  background: rgb(252, 250, 250);
}
.container .sideBar ul {
  padding: 0;
}
.container .sideBar ul li {
  padding: 5px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}
.container .sideBar ul li a {
  display: block;
  width: 190px;
  color: darkblue;
  font-size: 14px;
  padding: 10px;
}
.container .sideBar ul li a:hover {
  width: 190px;
  color: white;
  background-color: darkblue;
}
.container .row {
  margin: 0;
  width: 100%;
}
.container .card {
  position: relative;
  display: flex;
  width: 15rem;
  height: auto;
}
